<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1l">
        <ul class="contact-list">
          <li> Shoot me an email
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a>
          <li><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a>
        </ul>
      </div>
      <div class="footer-col footer-col-1r">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}

          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}

          {% endif %}
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username full_name=site.full_name %}

          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
